@{
    ViewData["Title"] = "Home Page";
}

<div class="border p-4 text-center">
    <h1 class="display-4">Chinese New Year</h1>
    <hr />
    <br />
    <p>A traditional festival that is celebrated mianly by Chinese all around the world to welcome new &amp good things in life, and forget about the past. </p>
    <br />
    <p>
        During Chinese New Year (CNY), families would have reunion dinners together to celebrate. In Malaysia specifically, 'Yee Sang' is a special dish as it is a cultural icon. 
        People would mix the ingredients within the dish by tossing it up with chopsticks while chanting their wishes simultanously. 
        During CNY, adults that are married within the family also would give 'Ang Pau'(red packet) to the younger generations.
    </p>
    <br />
    <p>
        In the Chinese cultuure, the color red symbolizes luck and joy, and the color gold symbolizes wealth. 
        Hence, people would dedcorate their houses with dedcorations in red andd gold color in hopes of bringing more luck, wealth, and joy to their family. 
    </p>
    <br />
    <br />
    <h2 class="display-8">Check CNY holidays in Malaysia 2024!</h2>
    <br />
    <a class="btn btn-primary btn-lg">Check Holidays</a> 
</div>
